@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --main-color: #37132d;
    --main-font: "Playfair", serif;
    --secondary-font: "Roboto", serif;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(132, 132, 132);
    padding: 30px;
}

ul li {
    list-style: none;
    display: inline;
}

ul li a {
    text-decoration: none;
    margin: 15px;
    color: #000;
    font-family: var(--secondary-font);
}

/* Section one */
.content__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.header__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.header__heading {
    font-size: 4rem;
    font-family: var(--main-font);
}

.header__sub-heading {
    width: 70%;
    font-family: var(--secondary-font);
    color: rgb(82, 82, 82);
    margin: 20px 0;
}

.header__img-container {
    width: 30%;
    height: 50vh;
    position: relative;
}

.header__img {
    width: 200px;
    height: 300px;
}

.img-one {
    position: absolute;
    left: 10rem;
}

.img-two {
    position: absolute;
    left: 3rem;
    top: 8rem;
}

.main-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    transition: background-color 0.5s ease-in-out, transform 0.2s ease;
    font-family: var(--secondary-font);
}

.main-btn:hover {
    background-color: rgb(116, 76, 124);
}

.main-btn:active {
    background-color: rgb(116, 76, 124);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Experience section */
.experience {
    margin-top: 10rem;
    height: 90vh;
    margin-left: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.experience-img {
    background-image: url(images/barber3.avif);
    background-size: cover;
    width: 300px;
    height: 350px;
    margin-left: 50px;
}

.grey-heading {
    color: grey;
    font-family: var(--main-font);
}

.btn-container {
    margin-top: 30px;
}

/* Social media section */
.social-media {
    margin: 5rem;
}

.sm-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.follow {
    padding: 20px;
    background-color: var(--main-color);
    color: #fff;
    font-family: var(--secondary-font);
    font-weight: 700;
    margin-right: 3rem;
    text-align: center;
}

/* Hero section */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero-img-container {
    background-image: url(images/barber4.avif);
    background-position: top;
    background-size: cover;
    width: 300px;
    height: 400px;
}

.hero__content {
    margin-left: 6rem;
}

/* Services */
.services {
    margin-top: 10rem;
}

.services__grey-heading {
    margin-left: 5rem;
}

.services-heading {
    margin-left: 5rem;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    height: 400px;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgb(223, 223, 223);
    margin: 20px;
}

.card-img {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left:0;
    background-position: top;
    background-size: cover;
}

.img-one {
    background-image: url(images/barber5.avif);
}

.img-two {
    background-image: url(images/barber6.avif);
}

.img-three {
    background-image: url(images/barber7.avif);
}

.card-content {
    transform: translateY(200px);
    text-align: center;
    margin: 10px;
}

.card-title {
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
    color: #000;
}

.card-info {
    font-family: var(--secondary-font);
    text-align: center;
    color: rgb(109, 109, 109);
    margin: 30px 40px;
}

/*Footer */
.footer {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color:#fff;
}

.footer__card-title {
    font-family: var(--main-font);
}

.footer__card-info {
    font-family: var(--secondary-font);
    line-height: 2rem;
}

.credit-span {
    margin-bottom: 1rem;
}