@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --main-color: #37132d;
    --main-font: "Playfair", serif;
    --secondary-font: "Roboto", serif;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(132, 132, 132);
    padding: 30px;
}

ul li {
    list-style: none;
    display: inline;
}

ul li a {
    text-decoration: none;
    margin: 15px;
    color: #000;
    font-family: var(--secondary-font);
}

/* Section one */
.content__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.header__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.header__heading {
    font-size: 4rem;
    font-family: var(--main-font);
}

.header__sub-heading {
    width: 70%;
    font-family: var(--secondary-font);
    color: rgb(82, 82, 82);
    margin: 20px 0;
}

.header__img-container {
    width: 30%;
    height: 50vh;
    position: relative;
}

.header__img {
    width: 200px;
    height: 300px;
}

.img-one {
    position: absolute;
    left: 10rem;
}

.img-two {
    position: absolute;
    left: 3rem;
    top: 8rem;
}

.main-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    transition: background-color 0.5s ease-in-out, transform 0.2s ease;
    font-family: var(--secondary-font);
}

.main-btn:hover {
    background-color: rgb(116, 76, 124);
}

.main-btn:active {
    background-color: rgb(116, 76, 124);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Experience section */
.experience {
    margin-top: 10rem;
    height: 90vh;
    margin-left: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.experience-img {
    background-image: url(images/barber3.avif);
    background-size: cover;
    width: 300px;
    height: 350px;
    margin-left: 50px;
}

.grey-heading {
    color: grey;
    font-family: var(--main-font);
}

.btn-container {
    margin-top: 30px;
}